# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
/.vs/
/.sou/
/bin/
/obj/
/x64/
/debug/
/release/
/ipch/
*.db
*.opendb
*.TMP

# Qt
*.pro.user

# Socket Speed Test Log File
/socket_speed_test/SockSpeedTestLog.log